<div class="container">
  <div class="header row">
    <div class="twelve columns">
      <h4>Home, Sweet Home</h4>
    </div>
  </div>
  <!-- Main content area starts here -->
  <div class="row">
  <!-- content divided into 2 even columns -->
    <div class="six columns">
      <h5 class="subheader"><a href="/categories">Categories</a></h5>
      <div class="sh-content">
        <a href=""></a>
      </div>
    </div>
    <div class="six columns">
      <h5 class="subheader"><a href="/countries">Candylands</a></h5>
      <div class="sh-content">        
      </div>
    </div>
  </div>
  <!-- content division ends here -->
</div>
<!-- Main content area starts here -->