<div class="container">
  <div class="header row">
    <div class="twelve columns">
      <h4><%= @country.name %></h4>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <div class="sh-content">
        <div class="three columns content">
          <p><a href="/countries/show/#">candy name here</a></p>
        </div>
        <div class="three columns content">
          <p><a href="/countries/show/#">candy name here</a></p>
        </div>
        <div class="three columns content">
          <p><a href="/countries/show/#">candy name here</a></p>
        </div>
        <div class="three columns content">
          <p><a href="/countries/show/#">candy name here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>